<body>
    <div 
    class="container-fluid">
      <h1>Welcome to TaillessBunny Price Calculator!</h1>
      
      <strong>userForm.value</strong><br>
      {{userForm.value | json}} <br>
      <strong>estimateModel</strong><br>
      {{estimateModel | json}}

      {{panelCount}}
  
      <form [formGroup]="estimateForm">

        <div 
        class="form-group">
          <label>How many panels would you like?</label>
          <input  
          name="panelCount" 
          formControlName="numOfPanels"
          class="form-control"
          #name 
          [(ngModel)]="panelCount"
          [(ngModel)]="estimateModel.panelCount"
          (change)="panelCountChanged()"
          type="number" 
          min="1" >
        </div>
  
        <div 
        class="form-group">
          <label>Which Quality?</label>
          <select 
          name="quality" 
          class="custom-select" 
          [(ngModel)]="estimateModel.quality">
            <option 
            *ngFor="let q of qualities">{{q}}</option>
          </select>
        </div>
        
        <div 
        *ngFor="let i of [].constructor(panelCount) index as n">
          <h2>Panel {{n+1}}:</h2>
          
          <div 
          ngModelGroup="panel{{n}}">
            <div 
            class="dropdown">
              <label>How complex is the background?</label>
              <select 
              name="bgComplexity{{n}}" 
              class="custom-select" 
              ngModel>
                <option 
                *ngFor="let c of bgComplexities">{{c}}</option>
              </select>
            </div>
            
            <div 
            class="form-group">
              <label>How many characters in this panel?</label>
              <input 
              name="charCount{{n}}" 
              (change)="setCharArray(n,$event.target.value)" 
              type="number" 
              class="form-control" 
              min="0" 
              ngModel>
            </div>
  
            <div 
            *ngFor="let j of [].constructor(this.charCountPanel[n]) index as m">
              <h3>Character {{m+1}}:</h3>
              <div 
              ngModelGroup="character{{m}}">
                <div 
                class="dropdown">
                  <label>How visible is this character?</label>
                  <select 
                  name="visibility" 
                  class="custom-select" 
                  ngModel>
                    <option 
                    *ngFor="let v of visibilities">{{v}}</option>
                  </select>
                </div>
              </div>
            </div>
            
            <div 
            class="form-group">
              <label>How many extra windows in this panel?</label>
              <input 
              name="windowCount{{n}}" 
              type="number" 
              class="form-control" 
              ngModel>
            </div>
            
            <div 
            class="form-group">
              <label>How many animated actions in this panel?</label>
              <input 
              name="animatedCount{{n}}" 
              type="number" 
              class="form-control" 
              ngModel>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>