<body>
    <h1>Welcome to TaillessBunny Price Calculator!</h1>
    {{estimateForm.value | json}}

    <div class="container-fluid">
        <form [formGroup]="estimateForm">

            <div class="form-group">
                <label>How many panels would you like?</label>
                <input class="form-control"
                name="panelCount" 
                formControlName="panelCount"
                type="number" 
                min="1"
                (change)="setExtraPanels($event.target.value)">
            </div>
    
            <div class="form-group">
                <label>Which Quality?</label>
                <select class="custom-select" 
                name="quality"
                formControlName="quality">
                    <option *ngFor="let q of qualities">{{q}}</option>
                </select>
            </div>
            
            <div formArrayName="extraPanels" *ngFor="let extraPanel of 
            estimateForm.get('extraPanels').controls index as n">
                <div [formGroupName]="n">
                    <h2>Panel {{n + 1}}:</h2>

                    <div class="form-group">
                        <label>How complex is the background?</label>
                        <select class="custom-select"
                        name="bgComplexity"
                        formControlName="bgComplexity">
                            <option *ngFor="let c of bgComplexities">{{c}}</option>
                        </select>
                    </div>
                        
                    <div class="form-group">
                        <label>How many characters in this panel?</label>
                        <input class="form-control"
                        name="charCount" 
                        formControlName="charCount"
                        type="number"  
                        min="0"
                        (change)="setCharacterCount(n,$event.target.value)">
                    </div>

                    <div formArrayName="characters" *ngFor="let char of estimateForm.get(
                        'extraPanels').controls[n].get('characters').controls index as m">
                        <div [formGroupName]="m">
                            <h3>Character {{m + 1}}:</h3>
                            
                            <div class="form-group">
                                <label>How visible is this character?</label>
                                <select class="custom-select"
                                name="visibility"
                                formControlName="visibility">
                                    <option *ngFor="let v of visibilities">{{v}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                        
                    <div class="form-group">
                        <label>How many extra windows in this panel?</label>
                        <input class="form-control" 
                        name="windowCount" 
                        formControlName="windowCount"
                        type="number"
                        min="0">
                    </div>
                        
                    <div class="form-group">
                        <label>How many animated actions in this panel?</label>
                        <input class="form-control"
                        name="animatedCount"
                        formControlName="animatedCount"
                        type="number" >
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>